<!DOCTYPE html>
<html ng-app="application" ng-cloak ng-controller="ApplicationController">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= yield :title %></title>
    <base href="/">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <noscript>
      <%= yield %>
    </noscript>
    <div ng-view class="fade"></div>
    <% Dir['app/views/**/*.template.erb'].each do |path| %>
      <% byebug %>
      <% template = path.remove('app/views/').remove('.template.erb') %>
      <script type="text/ng-template" id="<%= template %>">
        <%= render file: "#{template}.template.erb" %>
      </script>
    <% end %>
  </body>
</html>
